body {
  font-family: sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

.form {
  display: flex;
  flex-direction: column;
}
